
# Virtual environments
.venv
env/
venv/

# Environment variables
.env

.vscode

.DS_Store

__pycache__/

.ruff_cache

.mypy_cache

*.sqlite3

.coverage
.coverage.*

# Hypothesis
.hypothesis/

test.db
